* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-inline: 165px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 100px;
}

.header .get-started-btn {
  color: white;
  background-color: #13183f;
  padding: 14px 31px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 165px;
  margin-bottom: 110px;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  margin-right: 162px;
}
.hero-content h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 100%;
  color: #13183f;
  margin-bottom: 29px;
}
.hero-content p {
  color: #83869a;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}
.hero-content button {
  padding: 16px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(135deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  width: 167px;
  height: 63px;
  border: none;
}
.hero-img {
  position: relative;
}

.hero-img img {
  display: block;
}
.hero-img .course-hours {
  position: absolute;
  width: 199px;
  height: 120px;
  bottom: 98px;
  right: 385px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.158);
}
.hero-img .course-hours p {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #83869a;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 2px;
}

.hero-img .course-hours strong {
  display: block;
  font-size: 40px;
  font-weight: 800;
  color: #13183f;
  line-height: 100%;
}

.hero-img .members {
  position: absolute;
  top: 103px;
  left: 280px;
  width: 155px;
  height: 120px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.158);
}
.hero-img .members p {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #83869a;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 2px;
}

.hero-img .members strong {
  display: block;
  font-size: 40px;
  font-weight: 800;
  line-height: 100%;
  color: #13183f;
}
.products {
  padding-bottom: 140px;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.products-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 56px;
}
.products-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  width: 350px;
  height: 346px;
  /* position: relative; */
}
.products-card .card-icon {
  padding: 16px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff6f48 0%, #f02aa6 100%);
  width: 56px;
  height: 56px;
  margin-left: 32px;
  margin-bottom: 32px;
  /* position: absolute;
  top: -16px; */
}
.products-card .card-content {
  margin-inline: 32px;
  margin-bottom: 40px;
}
.card-content h3 {
  color: #13183f;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 24px;
}
.card-content p {
  color: #83869a;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
}
.card-content a {
  color: #f74780;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}
.featured {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  justify-content: center;
  padding-inline: 32px;
  padding-top: 64px;
}
.featured h2 {
  color: #ffffff;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

footer {
  background-color: #13183f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 165px;
}

footer .btn {
  all: unset;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  border-radius: 28px;
  padding: 14px 32px;
  cursor: pointer;
}
